<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width,
                       initial-scale=1" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous">
        <!-- CSS -->
        <link rel="stylesheet" href="/assets/style.css">
        <!-- JS-->
        <title>See More Of Your Destination</title>
    </head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4">Vacation Destinations WishList</h1>
            <p class="lead">Found exciting places to visition on your next vacation? Use the form below to add them to
                your wishlist</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 id="title">My WishList</h4>
                <div id="destinations_container" style="display: flex; flex-wrap: wrap; justify-content: center;">
                <!-- Dynamically populated by Javascript -->
                <div class="card w-50" id="<%= document[0]._id %>" style="width: 500px; height: fit-content;">
                        <img class="card-img-top img-fluid" src="<%= document[0].imageUrl %>" style="height: 500px;">
                        <div class="card-body">
                            <h2 class="card-title text-center"><%= document[0].destinationName %></h2>
                            <h5 class="card-subtitle mb-2 text-muted text-center"><%= document[0].destinationLocation %></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>